.x {
    width: 100%;
    color: #FFF;
    user-select: none;
    margin-top: 100px;
    margin-bottom: -100px;
    .x-header {
        height: 30px;
        line-height: 30px;
        padding: 0px 30px;
        background-color: #5393DD;
        .toggle {
            float: right;
            cursor: pointer;
        }
    }
    .x-body {
        padding: 30px;
        // background-color: #AFDBFE;
    }
}
#zto_unfreeze_div{
    .form-wrapper {
        // display: none;
    }
}