.x {
    width: 100%;
    user-select: none;
    margin-top: 100px;
    margin-bottom: -100px;
    .x-header {
        height: 30px;
        line-height: 30px;
        padding: 0px 30px;
        background-color: #5393DD;
        color: #FFF;
        font-size: 16px;
        .toggle {
            float: right;
            cursor: pointer;
        }
    }
    .x-body {
        padding: 30px;
        .uploader-group {
            padding: 10px 0px;
        }
        .btn-x {
            padding: 5px 12px 5px 12px;
            font-size: 14px;
            color: #fff;
            background: #ADC8DD;
            border: 0px;
            margin: 0px;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}
#zto_unfreeze_div{
    .form-wrapper {
        // display: none;
    }
}