.x {
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  color: #FFF;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .x .x-header {
    padding: 10px;
    background-color: #5393DD; }
    .x .x-header .toggle {
      float: right;
      cursor: pointer; }
  .x .x-body {
    padding: 10px; }
